.todolist-page-container {
  width: 100%;
  height: 100%;
}

.todolist-page-container > header {
  margin-bottom: 15px;
  /* border-bottom: 1px solid  #172f5246; */
}

.todolist-header-items {
  margin-bottom: 5px;
}

.todolist-main-container {
  padding-right: 3px;
  height: 550px;
  overflow-y: scroll;
}

.todolist-main-container::-webkit-scrollbar {
  width: 3px;
}

.todolist-main-container::-webkit-scrollbar-thumb {
  background-color:  #172f5246;
  border-radius: 3px;
}

.todolist-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  border: 1px solid  #172f5246;
  border-width: 1px 0px;
  padding: 19px;
 
  width: 100%;
  height: 70px;
  background-color: white;
  position: relative;   
}


.complet-chkboxs {
  display: none;
}

.complet-chkboxs + label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #172f5246;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color:white;
}

.todolist-item.finished {
  text-decoration: line-through; 
  color:#172f52df;
}

.complet-chkboxs:checked + label::after {
  content: " ";
  border-radius: 2px;
  width: 10px;
  height: 10px;
  background-color:#172f52df;
}

.item-center {
  flex-grow: 1;
  padding: 0px 10px;
}

.item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .todolist-date {
  margin-bottom: 0px;
  font-size: 12px;
} */


.todolist-item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.btn-remove {
  margin: 2px;
  font-size: 10px;
  color: #172f52b6;
  width: auto;
  text-align: center;
  font-weight: bold;
}


.btn-remove:active {
  background-color: #172f52b6;
  color: white;
}

.completed .todolist-content {
  text-decoration: line-through;
}

.todolist-content{
  font-size : 15px;
  font-weight: 500;

}
.todolist-content:hover{
text-decoration: underline;
cursor: pointer;
}

.drop-finish{
  display: flex;
  align-items: center;
  margin-top : 15px;
  padding : 3px;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #172f5246;
  font-size: 12px;
 

}
.todolist-items {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  border: 1px solid #172f5246;
  border-width: 1px 0px;
  padding: 7px;
  width: 100%;
  background-color: white;
  position: relative;
}


.class-date{
  height: 25px;
  /* margin-top: 1px; */
  margin-bottom: 5px;
  padding : 3px;
  padding-left : 20px;
  border-radius: 3px;
  width: calc(50% - 5px); 
  border: 1px solid #172f5246; 
}
.class-time {
  height: 25px;
  /* margin-top: 1px; */
  margin-bottom: 5px;
  margin-left:3px;
  padding : 3px;
  padding-left : 20px;
  margin-top: l1px;
  margin-bottom: 3px;
  border-radius: 3px;
  width: calc(50% - 5px); 
  border: 1px solid #172f5246;
}

.selected-datetime{
  margin-bottom: 6px;
  font-size: 11px;
  color: #172f52af;
}
.post-it{
  width: 250px;
  height: 250px;
  border: 1px solid #172f5246; 
  box-shadow:4px 4px 8px#172f5246; 
  padding : 30px;
}

.welcome-page-title{
font-size: 27px;
font-weight: 700;
margin-bottom: 15px;

}


.post-box1,
.post-box2,
.post-box3{
  display: flex;  
  justify-content:l left;
  align-items: center; 
  margin-top : 0px;
  margin-bottom : 15px;
  padding-top : 5px;
  padding-bottom : 3px;
  padding-left :  10px;
  border-bottom: 1px solid  #172f5246; 
  font-size : 16px;
  color:#172f5246;  
}

.post-box1:hover,
.post-box2:hover,
.post-box3:hover{
  border-bottom: 1px solid #172f52c5;  
  color:#172f52b4;  
  font-weight: 700;
  border-bottom: 2px solid  #172f52c5;  
}

